[core]
	autocrlf = true
[user]
	name = Ihar Hancharenka
	email = iigoncharenko@mail.ru
[credential]
	helper = !'C:\\Users\\Ihar_Hancharenka\\AppData\\Roaming\\GitCredStore\\git-credential-winstore.exe'

[alias]
	purb = pull --rebase
	lgo = log --oneline --graph
	conf = config
	st = status
	ci = commit
