[core]
	autocrlf = true
	longpaths = true
[user]
	name = Ihar Hancharenka
	email = iigoncharenko@mail.ru
[credential]
	helper = wincred

[alias]
	purb = pull --rebase
	lgo = log --oneline --graph --decorate
	conf = config
	st = status
	ci = commit
	rbi = rebase --interactive
