[user]
	name = Ihar Hancharenka
	email = iigoncharenko@mail.ru
[core]
	autocrlf = true
	longpaths = true
[alias]
	purb = pull --rebase
	lgo = log --oneline --graph --decorate
	st = status
	ci = commit
	co = checkout
	rbi = rebase --interactive
	conf = config
	cfg = config
	br = branch
	bra = branch --all
	puso = push origin HEAD
	fep = fetch -p
[credential]
	helper = manager
